.Loader {
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: transparent;
	border: 8px solid grey;
	border-top: 8px solid black;
	animation: spin 0.6s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
