.Btn {
	color: var(--color-light);
	border: none;
	outline: none !important;
	border-radius: 8px;
	padding: 8px 16px;
	font-size: large;
	transition: 0.15s ease-in-out;
}

.Normal {
	background-color: var(--primary);
}

.Normal:hover {
	background-color: var(--primary);
	filter: drop-shadow(0 0 8px var(--primary));
}

.Secondary {
	background-color: var(--color-shadow);
}

.Secondary:hover {
	background-color: var(--color-shadow);
	filter: drop-shadow(0 0 8px var(--color-shadow));
}
