.Switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	-webkit-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
}

.Switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.Slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: gray;
	-webkit-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.Slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--color-light);
	-webkit-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .Slider {
	background-color: var(--primary);
}

input:focus + .Slider {
	box-shadow: 0 0 1px var(--primary);
}

input:checked + .Slider:before {
	-webkit-transform: translateX(26px) scale(0.75);
	-ms-transform: translateX(26px) scale(0.75);
	transform: translateX(26px) scale(0.75);
}

.Slider.Round {
	-webkit-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
	border-radius: 34px;
}

.Slider.Round:before {
	border-radius: 50%;
}

@media (min-width: 567px) {
	.Switch,
	.Slider,
	.Slider.Round {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
	input:checked + .Slider:before {
		-webkit-transform: translateX(26px) scale(0.8);
		-ms-transform: translateX(26px) scale(0.8);
		transform: translateX(26px) scale(0.8);
	}
}

@media (min-width: 992px) {
	.Switch,
	.Slider,
	.Slider.Round {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	input:checked + .Slider:before {
		-webkit-transform: translateX(26px) scale(0.9);
		-ms-transform: translateX(26px) scale(0.9);
		transform: translateX(26px) scale(0.9);
	}
}

@media (min-width: 1600px) {
	.Switch,
	.Slider,
	.Slider.Round {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	input:checked + .Slider:before {
		-webkit-transform: translateX(26px) scale(1);
		-ms-transform: translateX(26px) scale(1);
		transform: translateX(26px) scale(1);
	}
}
