.Input {
	background-color: #ddd;
	display: block;
	width: 100%;
	margin: 12px 0;
	padding: 12px 16px;
	border-radius: 20px;
	border: none;
	outline: none !important;
	transition: 0.1s;
}

.Input:hover {
	background-color: #bbb;
}

.Input:focus {
	background-color: #888;
}

.Input::placeholder,
.InputTransparent::placeholder {
	transition: 0.2s;
}

.InputTransparent {
	width: 100%;
	background-color: transparent !important;
	outline: none !important;
	border: none;
	border-bottom: 1px solid var(--color-white);
	color: gray;
}

.Input:focus::placeholder,
.InputTransparent:hover::placeholder,
.InputTransparent:focus::placeholder,
.InputTransparent:hover,
.InputTransparent:focus {
	color: var(--color-white);
}
