.Body {
	background-color: var(--primary);
	padding: 24px 16px 12px 16px;
	height: 65px;
	width: 100%;
	display: flex;
	align-items: center;
}

.Body i:hover,
.UserDetails:hover {
	cursor: pointer;
}

.UserDetails {
	display: flex;
	align-items: center;
}

.ProfilePicure {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ProfilePicure img {
	height: 40px;
	width: 40px;
}

.ModalBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px 20px;
	width: 90vw;
	color: var(--color-dark);
}

.ModalBody img {
	height: 160px;
	width: 160px;
	border-radius: 50%;
}

@media (min-width: 567px) {
	.ModalBody {
		width: 70vw;
	}
}

@media (min-width: 768px) {
	.ModalBody {
		width: 60vw;
	}
}

@media (min-width: 992px) {
	.ModalBody {
		width: 50vw;
	}
}

@media (min-width: 1200px) {
	.ModalBody {
		width: 40vw;
	}
}

@media (min-width: 1600px) {
	.ModalBody {
		width: 30vw;
	}
}
