:root {
	--background: #f0f0f0;
	--color-border: #555555;
	--color-dark: #000000;
	--color-light: #ffffff;
	--color-shadow: #111111;
	--color-white: #ffffff;
	--error: #ff0000;
	--primary: #7905ff;
	--secondary: #008080;
	--success: #008000;
}

.dark {
	--background: #222222;
	--color-border: #eeeeee;
	--color-dark: #ffffff;
	--color-light: #121212;
	--error: #ff3e3e;
	--success: #31a831;
}
