.Body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-color: var(--color-light);
	position: relative;
	z-index: 20;
}

.SplashLoader {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 250px 320px;
}

.SplashLoader::after {
	content: "SMARTSAPP";
	position: absolute;
	font-family: "Lato";
	font-weight: bold;
	font-size: large;
	color: var(--primary);
	bottom: 12px;
	animation: fade-in 1s ease-in-out;
}

.Loader {
	height: 24px;
	width: 24px;
	opacity: 0;
	background-color: var(--color-light);
	border-radius: 50%;
	margin: 16px;
	position: relative;
	top: -12px;
	animation: loading 2.1s ease-in-out infinite;
}

#Loader1 {
	animation-delay: 0s;
}

#Loader2 {
	animation-delay: 0.3s;
}

#Loader3 {
	animation-delay: 0.6s;
}

@keyframes fade-in {
	0% {
		transform: translateY(12px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes loading {
	0% {
		transform: translateY(12px);
		opacity: 0;
	}
	20% {
		transform: translateY(0px);
		opacity: 1;
	}
	70% {
		transform: translateY(0px);
		opacity: 1;
	}
	90% {
		transform: translateY(12px);
		opacity: 0;
	}
	100% {
		transform: translateY(12px);
		opacity: 0;
	}
}

@media (min-width: 768px) {
	.SplashLoader {
		background-size: 375px 480px;
	}
	.SplashLoader::after {
		font-size: larger;
	}
	.Loader {
		height: 36px;
		width: 36px;
	}
}

@media (min-width: 1200px) {
	.SplashLoader {
		background-size: 500px 640px;
	}
	.SplashLoader::after {
		font-size: x-large;
	}
	.Loader {
		height: 48px;
		width: 48px;
		margin: 24px;
	}
}

@media (min-width: 1600px) {
	.SplashLoader {
		background-size: 750px 960px;
	}
	.SplashLoader::after {
		font-size: xx-large;
	}
	.Loader {
		height: 60px;
		width: 60px;
		margin: 32px;
	}
}
