.Body {
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.ChatHover {
	height: 0;
	position: absolute;
	left: 180px;
	top: 140px;
	filter: drop-shadow(0 0 6px #000);
	animation: hover-anim 4s ease-in-out infinite;
}

.AuthFormCard {
	height: max-content;
	margin-right: 12px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
	border-radius: 8px;
}

@keyframes hover-anim {
	0% {
		transform: translateY(5%);
	}
	50% {
		transform: translateY(-5%);
	}
	100% {
		transform: translateY(5%);
	}
}

@media (min-width: 992px) {
	.Body {
		background-size: 720px;
		background-position: -150px -150px;
	}
	.ChatHover {
		height: 400px;
	}
}

@media (min-width: 1200px) {
	.Body {
		background-size: 800px;
		background-position: -160px -200px;
	}
	.ChatHover {
		left: 240px;
		top: 160px;
		height: 400px;
	}
}

@media (min-width: 1600px) {
	.Body {
		background-size: 1000px;
		background-position: -100px -200px;
	}
	.ChatHover {
		left: 280px;
		top: 180px;
		height: 600px;
	}
}
