.Body {
	height: 100vh;
	width: 100vw;
	border-right: 1px solid grey;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
	z-index: 5;
}

@media (min-width: 768px) {
	.Body {
		width: 45vw;
	}
}

@media (min-width: 992px) {
	.Body {
		width: 40vw;
	}
}

@media (min-width: 1200px) {
	.Body {
		width: 35vw;
	}
}

@media (min-width: 1600px) {
	.Body {
		width: 30vw;
	}
}
