.Body {
	display: flex;
	align-items: center;
	padding: 1px 8px;
}

.InputContainer {
	flex: 1;
}

.Btn {
	font-size: large;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding: 12px;
	margin: auto 4px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-dark);
}

.Btn:hover {
	color: white;
}

.BtnSecondary {
	transform: rotateZ(-45deg);
}

.BtnSecondary:hover {
	background-color: grey;
}

.BtnSecondary i {
	position: relative;
	left: -2px;
}

.BtnPrimary {
	background-color: var(--primary);
}

.BtnPrimary i {
	color: var(--color-white);
}

.Btn i {
	font-size: large;
}

.BtnPrimary:hover {
	background-color: var(--primary);
	-webkit-box-shadow: 0px 0px 8px 0px var(--primary);
	-moz-box-shadow: 0px 0px 8px 0px var(--primary);
	box-shadow: 0px 0px 8px 0px var(--primary);
}

.AttachmentInput {
	display: none;
}
