.Tick {
	color: var(--success);
}

.Container {
	display: flex;
	flex-direction: column;
}

.AuxilaryContainer {
	margin-top: 12px;
	display: inline-block;
}

.AuxilaryContainer i {
	font-size: inherit;
}

.File {
	display: none;
}

.ImageName {
	width: 500px;
	height: 32px;
	padding-left: 8px;
	overflow: hidden;
}

@media (min-width: 576px) {
	.Container {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
	.AuxilaryContainer {
		margin-left: auto;
	}
}
