.Body {
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	right: 0;
	animation: fade-in 0.2s ease-in-out;
	z-index: 10;
}

@keyframes fade-in {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@media (min-width: 768px) {
	.Body {
		width: 55vw;
	}
}

@media (min-width: 992px) {
	.Body {
		width: 60vw;
	}
}

@media (min-width: 1200px) {
	.Body {
		width: 65vw;
	}
}

@media (min-width: 1600px) {
	.Body {
		width: 70vw;
	}
}
