.Backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-shadow);
	z-index: 25;
}

.BackdropClose {
	visibility: hidden;
}

.BackdropOpen {
	visibility: visible;
}

.SideBarBody {
	position: fixed;
	width: 70vw;
	height: 100vh;
	background-color: var(--color-light);
	transition: 0.2s ease-out transform, 0.2s ease-out width;
	z-index: 30;
}

.SideBarBodyClose {
	transform: translateX(-100%);
}

.SideBarBodyOpen {
	transform: translateX(0%);
}

.SideDrawerIcon img {
	width: 150px;
	margin-top: 28px;
}

@media (min-width: 992px) {
	.Backdrop,
	.SideBarBody {
		visibility: hidden;
	}
}

@media (min-width: 768px) {
	.SideBarBody {
		width: 40vw;
	}
	.SideDrawerIcon img {
		width: 200px;
	}
}

@media (min-width: 576px) {
	.SideBarBody {
		width: 50vw;
	}
	.SideDrawerIcon img {
		width: 175px;
	}
}
